/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #3e657c;
  font-size: 30px;
}

body {
  background-color: #336699;
;
}

body, input[text], button {
  color: #888;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.reset {
  font-size: 20px;
  border: none;
  background-color: white;
  text-align: center;
}

.row {
  clear: both;
}
.hint {
  position: absolute;
  top: 80px;
  left: 160px;
  margin: auto;
  border: none;
  background-color: white;
}

.radio {
  display: inline-block;
  font-size: 30px;
  color: #518fb5;
}

.start {
  position: absolute;
  top: 80px;
  left: 120px;
  margin: auto;
  border: none;
  background-color: white;

}

.grid-container {
  display: grid;
  grid-gap: 5px;


}

.center {
  margin: auto;
  width: 300px;
  max-width: 90%;
  min-width: 300px;
  text-align: center;

}
.container {
  display: inline-block;
  text-align: center;
  background-color: grey;


}

.grid-item {
  display: grid;
  width: 100px;
  height: 100px;
  border: solid 10px yellow;
  grid-column-gap: 150px;
}

.result {
  font-size: 25px;
  color: #518fb5;
}
