<h2>{{title}}</h2>
<label class="radio">
  <input type="radio" name="yoursign" value="X"
         [checked]="userX"
         (change)="updateUserX(true)"
         [disabled]="grid.gameState != 0">X<br>

</label>
<label class="radio">
  <input type="radio" name="yoursign" value="O"
         (change)="updateUserX(false)"
         [disabled]="grid.gameState != 0">O<br>
</label>


<div class="grid-container">
  <div *ngFor="let row of grid.rows; let i = index">
    <app-cell *ngFor="let col of row; let j = index"
              [col]="col.col"
              [row]="col.row"
              [cellState]="col.cellState"
              [cellRating]="col.cellRating" [winningCell]="col.winningCell" [bestCell]="col.bestCell"
              (click)="userMove(col)"
              (keydown.enter)="userMove(col)"
              (keydown.arrowup)="onKeydown(col.row - 1, col.col)"
              (keydown.arrowdown)="onKeydown(col.row + 1, col.col)"
              (keydown.arrowleft)="onKeydown(col.row, col.col - 1)"
              (keydown.arrowright)="onKeydown(col.row, col.col + 1)"
    >
    </app-cell>
  </div>
  <button class="start">
    <div (click)="start()"><img src="../assets/eLsS8.png" height="30" width="30"></div>
  </button>
  <button class="hint">
    <div (click)="hint()"><img src="../assets/question.png" height="30" width="30"></div>
  </button>
</div>

<label>Select saved game to play</label>

<select #selectElem (change)="playGame(selectElem.value)">
  <option></option>
  <option *ngFor="let game of getHistoryList()">
    {{game}}
  </option>
</select>
<div class="result" [ngSwitch]="grid.gameState">
  <label *ngSwitchCase="3">X WIN!</label>
  <label *ngSwitchCase="4">O WIN!</label>
  <label *ngSwitchCase="5">DRAW!</label>

</div>








